.wrapper{
    display: flex;
}
.inc{
    margin-top: 15px;
    margin-left: 60px;

}
.dec{
    margin-top: 15px;
    margin-left: 60px
}
.small{
    border-radius: 5px;
    font-size: 20px;
    background-color: cyan;
}