.wrapper {
    width: 1440px;
    height: 700px;
    background-color: gray;
    /*margin: 0 auto;*/
}

.counter_wrapper {
    background-color: darkred;
    border: 3px solid black;
    width: 300px;
    height: 200px;
    margin: 100px 600px;
    display: inline-block;
    border-radius: 20px;
}

.counter {
    width: 270px;
    background-color: lightseagreen;
    height: 110px;
    margin: 10px 12px;
    border: 2px solid black;
    border-radius: 10px;
}

.value {
    font-size: 30px;
    margin: 30px 60px;
    color: white;
    display: block;
    margin-bottom: -70px;
}

.button_wrapper {
    background-color: lightseagreen;
    height: 55px;
    margin-top: 120px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
}

/**                             Второе табло, для изменений             */

.change_wrapper {
    background-color: darkred;
    border: 3px solid black;
    width: 300px;
    height: 200px;
    margin: -305px 10px 10px 240px;
    display: block;
    border-radius: 20px;
}

.change_counter {
    width: 270px;
    background-color: lightseagreen;
    height: 110px;
    margin: 10px 12px;
    border: 2px solid black;
    border-radius: 10px;
}

.change_button_wrapper {
    background-color: lightseagreen;
    height: 55px;
    width: 280px;
    margin: 10px 10px 10px 8px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
}

.change_button {
    background-color: lightseagreen;
    margin: 15px 100px;
    border-radius: 10px;
    display: flex;
}

.one_input {
    font-size: 20px;
    font-family: "Berlin Sans FB";
    margin: 20px 10px;
}

.two_input {
    font-size: 20px;
    font-family: "Berlin Sans FB";
    margin: 20px 10px;
}

.max_input {
    border-radius: 5px;
    margin-left: 45px;
    width: 100px;
}

.min_input {
    border-radius: 5px;
    margin-left: 40px;
    width: 100px;
}

.items{
    width: 300px;
    /*border: 1px solid black;*/
    margin: 45px -60px;
    text-align: justify;
    display: block;
    font-size: 20px;

}