.wrapper{
    width: 1440px;
    height: 700px;
    background-color: darkcyan;
    margin: 0 auto;
}

.count_wrapper{
    width: 370px;
    height: 250px;
    border: 4px solid hotpink;
    margin: 110px 0px 0px 760px;
    display: inline-block;
    border-radius: 20px;
}

.counter_small{
    border: 3px solid hotpink;
    width:335px;
    height: 135px;
    margin: 10px 10px 10px 15px;
    border-radius: 10px;
}

.counter_table{
    width: 370px;
    height: 250px;
    border: 4px solid red;
    margin: 150px 0px -365px 240px;
    display: inline-block;
    border-radius: 20px;
}
.button_wrapper{
    border: 3px solid hotpink;
    width: 350px;
    height: 70px;
    margin: 15px 10px 10px 7px;
    border-radius: 20px;
    display: flex;
}
.value{
    font-size: 70px;
    margin: 20px 10px 10px 135px;
}
.inc{
    margin: 20px 140px 10px 50px;
}
.dec{
    margin: 5px 140px 10px 10px;
}
.inc_button{
    font-size: 45px;
    border-radius: 10px;
    background-color: cyan;
}
.dec_button{
    font-size: 45px;
    border-radius: 10px;
    background-color: cyan;
}